:root {
  --clr-dark: rgb(0, 0, 0);
  --clr-light: rgb(255, 255, 255);
}

body{
  margin: 0;
  padding: 10px;
  background-color: rgb(10, 70, 37);
  text-align: center;
  margin: 1em;
  list-style: none;
}

.Main {
  margin: auto;
  max-width: 74%;
  padding: 10px;
  background-color: var(--clr-light);
  color: var(--clr-dark);
  text-align: center;
  font-size: 15px;
  font-family: 'Cambria';
}

#Image {
  max-width: 500px;

}